%center-fit {
  left: 50%;
  top: 50%;
  margin-top: -350px;
  margin-left: -475px;
  // @media screen and (max-width: 986px) {
  //   margin-left: -200px;
  // }
}

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}

@include keyframes(fade) {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 0;
  }
}