| <!--
| MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
| MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMNDZZNMMMMMMMMMMMMMMMM
| MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMNNND$,+I~8NMMMMMMMMMMMMMM
| MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMNDZ:?O:~~I7??ZNMMMMMMMMMMMMM
| MMMMMMMMMMMMMMMMMMMMMNNNMMMMMMMND?+~~=$+I$?7II+DMMMMMMMMMMMM
| MMMMMMMMMMMMN8NMMMMND7=+DNNMMNN8:+?~===Z8DD77??$8NMMMMMMMMMM
| MMMMMMMMMMN8==+DNND7I??==?DNND$=+??$+?+?ZDDD8Z++=7DMMMMMMMMM
| MMMMMMMMMDZ~,~~+ZOI77I+++??78=?=?:888=I+~I8O??+::?+DNMMMMMMM
| MMMMMMMND?=:~~~~?I77?Z8O=IIZ+?++I8DND8+I:~I?I?~=~++IDNMMMMMM
| MMMMMMN8~:,,7O?~~?=O8DNNDO7+++=ZDNNNNNDI:~~I$$8DO===IONMMMMM
| MMMMMN$~:,,ODNDZ::+=ZDDD8=?++~8NNMMMNNND$.::~8DNN8~==IZNMMMM
| MMMNDI~~:.8NNMND8,:==+OO??=:IDNMMMMMMMMNDO?.::8NMND:~???DMMM
| MMN8::==IDNMMMMNNDI,=~::::,ODNMMMMMMMMMMNNO??..ZNMMDI:???NMM
| MMO,::+ZNMMMMMMMMNDO.~:~:=8NMMMMMMMMMMMMMMN8=??:ZNMMNO?7DMMM
| MM8.,=DNMMMMMMMMMMMN8.,~IDNMMMMMMMMMMMMMMMMND+??ONMMMMMMMMMM
| MMMNDNMMMMMMMMMMMMMMNN78NNMMMMMMMMMMMMMMMMMMMNNNMMMMMMMMMMMM
| MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
| MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
| MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
| MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
| I <3 source code @sam_saccone
| -->
!!!
html(class=(rootClass))
head
  title
    |Snowcast❄ - Snow Reports for the iPhone Made Better
  link(rel="stylesheet", href="/css/base.css")
  | <meta name="apple-mobile-web-app-capable" content="yes" />
  | <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico">
  | <meta property="og:title" content="Snowcast❄">
  | <meta property="og:type" content="website">
  | <meta property="og:image" content="http://snowcastapp.com/images/marketing/mountain-glow.png">
  | <meta property="og:url" content="http://snowcastapp.com">
  | <meta property="og:site_name" content="Snowcast❄">
  | <meta property="og:description" content="Snow Reports Made Better">

  script(type="text/javascript", src="/js/jquery.1.9.0.min.js")
  block head
body
  block body
  script(type="text/javascript")
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-28226296-1']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();