extends ../layout

block head
  | <div id="fb-root"></div>
  | <script>(function(d, s, id) {
  |   var js, fjs = d.getElementsByTagName(s)[0];
  |   if (d.getElementById(id)) return;
  |   js = d.createElement(s); js.id = id;
  |   js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=225636304154558";
  |   fjs.parentNode.insertBefore(js, fjs);
  | }(document, 'script', 'facebook-jssdk'));</script>
  script(type="text/javascript", src="/js/marketing.js")
  script(type="text/javascript", src="/js/snow.js")

block body
  #marketing_wrap
    img.logo(src="/images/marketing/mountain-glow.png", height="140px")
    img.outer-glow(src="/images/marketing/mountain-outer-glow.png", height="140px")
    .iphone
    img.icon(src="/images/marketing/ios-icon.png")
  #clip_wrap
    .top
    .bottom
    .text_mask
    .text_mask_bottom
  #scroll_content
    .images
      img(src="images/marketing/screens/launch.png")
      img(src="images/marketing/screens/explore.png")
      img(src="images/marketing/screens/weather.png")
      img(src="images/marketing/screens/detail.png")
      img(src="images/marketing/screens/browse.png")
      img(src="images/marketing/screens/fav.png")
      img(src="images/marketing/screens/tracker.png")
    .content
      .item
        h2 Snowcast. <br /> <span>Snow Reports for iPhone.</span>
        p Reinventing how you ski and snowboard. <br />Find powder, track trails, mark favorites,<br /> all with beautiful visuals.
        .scroll_indicator
          img(src="/images/marketing/current_marker.png")
      .item
        h2 Your Resort Overview
        p Find resorts nearby or view your favorites. <br /> Get a quick glimpse of resort info and snow conditions in seconds.
        .scroll_indicator
          img(src="/images/marketing/current_marker.png")
      .item
        h2 Beautiful Weather.
        p Current and forecasted weather for the mountain with peak temps, chance of snow, and more.
        .scroll_indicator
          img(src="/images/marketing/current_marker.png")
      .item
        h2 The Data You Want.
        p Looking for detailed condition info on a specific resort? See powder levels, cams, and on the ground reports.
        .scroll_indicator
          img(src="/images/marketing/current_marker.png")
      .item
        h2 Find the Powder.
        p Powder hungry? Use the browse screen to find powder or resorts near you.
        .scroll_indicator
          img(src="/images/marketing/current_marker.png")
      .item
        h2 Make it Yours.
        p Are you at Stowe or Mammoth every weekend? Mark favorites for quick use and be on your way.
        .scroll_indicator
          img(src="/images/marketing/current_marker.png")
      .item.last
        h2 Trail Curiosity.
        p Curious about your run info? Track altitude, speed, distance, and more. (...and compete <br /> with others, coming soon...)
        .scroll_indicator
          img(src="/images/marketing/current_marker.png")
  #mountains
    .scroll
  |<form action="http://snowcastapp.us4.list-manage.com/subscribe/post?u=2f0e21fc102bd351cbbd9f7c3&amp;id=31bcb2d2c4" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="">
  |<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="you@domain.com">
  |<input type="submit" value="Request Beta Access" name="subscribe" id="mc-embedded-subscribe" class="button"></form>